VISION_ENDPOINT=https://interviewcoach-vision.cognitiveservices.azure.com/
VISION_KEY=

AOAI_ENDPOINT=https://interviewcoach-openai.openai.azure.com/
AOAI_KEY=
AOAI_DEPLOYMENT=gpt-4o
AOAI_API_VERSION=2024-08-01-preview

SEARCH_ENDPOINT=https://interviewcoach-search.search.windows.net
SEARCH_KEY=
SEARCH_INDEX_NAME=interview-coach-index

SPEECH_KEY=
SPEECH_REGION=centralindia
